:root {}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 16px;
}


h2 {
    font-size: 48px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.header {
    background-color: #1F2937;
}

.section {
    margin-left: 300px;
    margin-right: 300px;
}

.header-content {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-section {
    background-color: #1F2937;
}

.hero-content {
    padding-top: 50px;
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text>h1 {
    font-size: 48px;
    font-weight: 800;
    color: white;
}

.hero-text>p {
    font-size: 18px;
    color: white;
}

.img-content>img {
    width: 500px;
}

.hero-text>button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    color: white;
    background: #3882F6;
    border-color: #3882F6;
}

.info-content>h2 {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 800;
    flex-shrink: 0;
}

.info-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.info-images {
    display: flex;
    padding: 20px;
    justify-content: space-evenly;
    flex-shrink: 0;
    gap: 10px;
}

.info-box {
    text-align: center;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.info-box:hover {
    transform: scale(1.1);
}

.info-box>a>img {
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.info-box>a>img {
    width: 150px;
    height: 234px;
    object-fit: cover;
}

footer {
    background: #1F2937;
    height: 80px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}