:root {
    --character-section: hsl(210, 13%, 50%);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h2 {
    font-size: 48px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

.margin {
    margin-left: 300px;
    margin-right: 300px;
}

.header-content {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.hero-section {
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)) no-repeat fixed,
        url(images/header-background.jpeg) no-repeat center center fixed;
    background-size: cover;
}

.hero-content {
    padding-top: 50px;
    display: flex;
    gap: 150px;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 120px;
}

.hero-text {
    display: flex;
    flex-direction: column;
}

.hero-text>h1 {
    font-size: 48px;
    font-weight: 800;
    color: white;
}

.hero-text p {
    font-size: 18px;
    color: white;
}

.img-content img {
    width: 500px;
}

.hero-text button {
    width: 100px;
    height: 35px;
    border-radius: 10px;
    color: white;
    background: #3882F6;
    border-color: #3882F6;
}

.info-content h2 {
    text-align: center;
    color: #1F2937;
    font-weight: 800;
    flex-shrink: 0;
}

.info-content {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    height: 50vh;
    justify-content: center;
    gap: 60px;
}

.info-images {
    display: flex;
    padding: 20px;
    justify-content: space-around;
    flex-shrink: 0;
    gap: 10px;
}

.info-box {
    text-align: center;
    overflow: hidden;
    transition: all .2s ease-in-out;
}

.info-box:hover {
    transform: scale(1.1);
}

.info-box img {
    border: 3px solid #3882F6;
    border-radius: 12px;
}

.info-box img {
    width: 150px;
    height: 234px;
    object-fit: cover;
}

.character-section {
    height: 50vh;
    position: relative;
}

.character-section img {
    height: 50vh;
    max-width: 500px;
    align-self: flex-end;
}

.character-text {
    max-width: 550px;
    color: white;
    font-size: 18px;
    padding: 10px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-attrib {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0 .5em .5em 0;
    padding: .25em;
    color: white;
    background-color: rgba(0, 0, 0, .2);
}

a,
a:visited {
    text-decoration: none;
    color: white;
}

.content {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.background-blur {
    background: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(7px);
}

#dick-section {
    background-image: url('/images/bg/bludhaven.jpg');
    background-position: center;
    background-size: cover;
}

#jason-section {
    background-image: url('/images/bg/jason.jpg');
    background-position: center;
    background-size: cover;
}

#tim-section {
    background-image: url('/images/bg/tim.png');
    background-position: center;
    background-size: cover;
}

#damian-section {
    background-image: url('/images/bg/damian.jpg');
    background-position: center;
    background-size: cover;
}

footer {
    padding-top: 20px;
    height: 100px;
    background: #1F2937;
    color: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}